@charset "UTF-8";
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #1d1c1c, #434343, #240303);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.main-content {
  opacity: 0; /* Начальное состояние - невидимое */
  animation: fadeInUp 1s ease forwards;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(110, 40, 40, 0.3);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.image-section {
  position: relative;
  overflow: hidden;
}

.image-section img {
  display: block;
  width: 100%;
  transition: transform 0.5s ease;
}

.image-section img:hover {
  transform: scale(1.1);
}

.main-content .text-section {
  max-width: 50%;
}

.main-content .text-section .metadata {
  display: flex;
  gap: 10px;
  color: #aaa;
}

.main-content .text-section h1 {
  font-size: 48px;
  font-weight: 800;
  margin: 0;
}

.main-content .text-section p {
  margin: 20px 0;
  color: #555;
}

.main-content .text-section .watch-btn {
  padding: 10px 20px;
  background-color: #ffdd57;
  color: #000;
  text-decoration: none;
  font-weight: 700;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-weight: bold;
  text-align: center;
  margin-top: auto;
}
.main-content .text-section .watch-btn:hover {
  background-color: #fab005;
}

.main-content .image-section {
  max-width: 40%;
}

.main-content .image-section img {
  width: 100%;
  border-radius: 10px;
}

/* Popular Movies and Trending Shows styles */
.popular-movies, .trending-shows {
  padding: 20px;
}

.popular-movies h2, .trending-shows h2 {
  color: #FFC107;
}

/* Общие стили для галерей */
.gallery-container {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
  padding-bottom: 10px;
  position: relative;
}

.gallery-content {
  display: flex;
  overflow-x: auto;
  padding-bottom: 10px;
}

.gallery-content::-webkit-scrollbar {
  display: none; /* Скрыть полосу прокрутки */
}

.media-item {
  flex: 0 0 auto;
  position: relative;
  width: 200px;
  height: 300px;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.media-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.media-item__cover_inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.media-item__cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  transition: opacity 0.3s;
}

.media-item__cover_darkened {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  border-radius: 10px;
  transition: opacity 0.3s;
}

.media-item:hover .media-item__cover_darkened {
  opacity: 1;
}

.media-item__info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  opacity: 0;
  transition: opacity 0.3s;
  color: white;
}

.media-item:hover .media-item__info {
  opacity: 1;
}

.media-item__title {
  font-size: 18px;
  font-weight: bold;
}

.media-item__category {
  font-size: 14px;
  margin-top: 5px;
}

.media-item__year {
  font-size: 14px;
  margin-top: 5px;
  background-color: gray;
  padding: 2px 5px;
  border-radius: 5px;
}

/* Стили навигационных стрелок */
.navigation-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.navigation-button.left {
  left: 10px;
}

.navigation-button.right {
  right: 10px;
}

.navigation-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* Popular Categories style */
.popular-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 100px 20px;
  gap: 20px;
}

/* Мобильные устройства (до 400px) */
@media (max-width: 400px) {
  .popular-categories {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
    gap: 10px;
  }
}
/* Мобильные устройства (до 600px) */
@media (max-width: 600px) {
  .popular-categories {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 10px;
    gap: 10px;
  }
}
/* Планшеты (до 768px) */
@media (max-width: 768px) {
  .popular-categories {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px 15px;
    gap: 15px;
  }
}
/* Малые десктопы (до 992px) */
@media (max-width: 992px) {
  .popular-categories {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 80px 20px;
    gap: 20px;
  }
}
.categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  flex: 2;
}

.category-card {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  height: 200px;
  position: relative;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.8);
}

.category-card:hover {
  transform: scale(1.05);
}

.info-section {
  flex: 1;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-section h2 {
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center;
  color: #FFC107;
}

.info-section p {
  margin-bottom: 20px;
  color: #c7c5c5;
  font-size: 1em;
  text-align: center;
}

/* Медиазапросы для заголовка и кнопки */
@media (max-width: 768px) {
  .info-section {
    order: 1;
    padding-left: 0;
    margin-top: 20px;
  }
}
.view-all-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FFD700;
  color: #000;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  text-align: center;
  margin-top: auto;
}

.view-all-btn:hover {
  background-color: #FFC107;
}/*# sourceMappingURL=home.css.map */