@charset "UTF-8";
/* Footer style */
.footer {
  color: white;
  padding: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  margin: 10px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer ul li a:hover {
  color: #fab005;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-top: 20px;
  border-top: 1px solid #444;
  text-align: center;
}

.footer-logo-text {
  display: flex;
  align-items: center;
}

.footer-logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.footer-company-name {
  font-size: 1.5em;
  font-weight: bold;
}

.footer-rights {
  margin-left: auto;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-left: 20px;
}

/* Медиазапросы */
@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  .footer-column {
    margin: 10px 0;
    text-align: center;
  }
  .footer-bottom {
    flex-direction: column;
    justify-content: center;
  }
  .footer-rights {
    margin: 10px 0;
  }
  .footer-logo {
    width: 40px;
  }
  .footer-company-name {
    font-size: 1.2em;
  }
}
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  .footer-column {
    margin: 10px 0;
    text-align: center;
  }
  .footer-bottom {
    flex-direction: column;
    justify-content: center;
  }
  .footer-rights {
    margin: 10px 0;
  }
  .footer-logo {
    width: 45px;
  }
  .footer-company-name {
    font-size: 1.3em;
  }
}
@media (max-width: 992px) {
  .footer-rights {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .footer-logo {
    width: 60px;
  }
}
/* Chat styles */
.chat-container {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 400px;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  z-index: 1000;
}

.chat-header {
  background: #565353;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.chat-header .close-chat {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.chat-body {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.chat-body .message {
  margin-bottom: 10px;
}

.chat-body .buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.chat-body .buttons button {
  background: #5fb3b7;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 3px 0;
  cursor: pointer;
  transition: background 0.3s;
}

.chat-body .buttons button:hover {
  background: #008f97;
}

.chat-footer {
  border-top: 1px solid #ccc;
  padding: 10px;
}

.chat-footer input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Form styles within modal */
.contact-form,
.footer-column form,
.modal-content form {
  background-color: #fff;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: none;
  border-radius: 0;
}

.contact-form h2,
.footer-column h3,
.modal-content h3 {
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

/* Updated Styles for Flexibility */
.form-group {
  flex: 1;
  margin-bottom: 15px;
  min-width: calc(33.33% - 10px); /* Adjust this value to manage spacing between input fields */
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.submit-btn {
  display: inline-block;
  background-color: #FFD700;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #FFC700;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.navbar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 20px;
}
.navbar ul li {
  display: inline;
}
.navbar ul li a {
  text-decoration: none;
  color: #fab005;
  font-weight: 600;
  padding-right: 10px;
}

.register-btn {
  background-color: #fab005;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-weight: bold;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}
.register-btn:hover {
  background-color: #fab005;
}

/* Основные стили модального окна */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

/* Стили содержимого модального окна */
.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 30px 40px;
  border-radius: 15px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transform: scale(0);
  animation: popup 0.3s forwards;
}

/* Кнопка закрытия модального окна */
.close-modal-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #999;
  border: none;
  background: none;
  cursor: pointer;
  transition: color 0.25s ease;
}

.close-modal-btn:hover {
  color: #666;
}

/* Стиль для элементов формы */
.form-structor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.input:focus {
  border-color: #3b518a;
  outline: none;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #3b518a;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #5268b2;
}

/* Анимация для модального окна */
@keyframes popup {
  to {
    transform: scale(1);
  }
}
.logo-container {
  display: flex;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header-logo {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.logo-link:hover .logo, .logo-link:hover .header-logo {
  opacity: 0.8;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

#searchInput {
  display: none;
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 200px;
  width: 0;
  transition: width 0.3s ease, display 0.3s ease;
}

#searchButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-left: 50px;
}

#searchButton svg {
  fill: #000;
  width: 18px;
  height: 18px;
}

#closeButton {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  font-size: 18px;
  color: #ffd700;
}

.search-container.active #searchInput {
  display: block;
  width: 200px;
}

.search-container.active #closeButton {
  display: block;
}

.search-container.active #searchButton {
  display: none;
}

.register-btn {
  background-color: #FFD700;
  color: #000;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  text-align: center;
  margin-left: 50px;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-name {
  color: white;
  font-weight: bold;
}

.burger-menu {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  background: none;
  border: none;
  cursor: pointer;
}

.burger-menu__line {
  height: 3px;
  width: 24px;
  background-color: #333;
  border-radius: 2px;
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-menu ul {
  display: flex;
}

@media (max-width: 768px) {
  .burger-menu {
    display: flex;
  }
  .navbar-menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .navbar-menu.show {
    display: flex;
  }
  .navbar ul {
    flex-direction: column;
    width: 100%;
  }
  .navbar-menu ul {
    width: 100%;
  }
  .navbar-menu ul li {
    width: 100%;
    text-align: left;
  }
  .navbar-menu ul li a {
    width: 100%;
    display: block;
    padding: 10px;
  }
  .search-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #1d1c1c, #434343, #240303);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.main-content {
  opacity: 0;
  animation: fadeInUp 1s ease forwards;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(110, 40, 40, 0.3);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.image-section {
  position: relative;
  overflow: hidden;
}

.image-section img {
  display: block;
  width: 100%;
  transition: transform 0.5s ease;
}

.image-section img:hover {
  transform: scale(1.1);
}

.main-content .text-section {
  max-width: 50%;
}

.main-content .text-section .metadata {
  display: flex;
  gap: 10px;
  color: #aaa;
}

.main-content .text-section h1 {
  font-size: 48px;
  font-weight: 800;
  margin: 0;
}

.main-content .text-section p {
  margin: 20px 0;
  color: #555;
}

.main-content .text-section .watch-btn {
  padding: 10px 20px;
  background-color: #ffdd57;
  color: #000;
  text-decoration: none;
  font-weight: 700;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-weight: bold;
  text-align: center;
  margin-top: auto;
}
.main-content .text-section .watch-btn:hover {
  background-color: #fab005;
}

.main-content .image-section {
  max-width: 40%;
}

.main-content .image-section img {
  width: 100%;
  border-radius: 10px;
}

/* Popular Movies and Trending Shows styles */
.popular-movies, .trending-shows, .popular-cartoons {
  padding: 20px;
}

.popular-movies h2, .trending-shows h2, .popular-cartoons h2 {
  color: #FFC107;
}

/* Общие стили для галерей */
.gallery-container {
  display: flex;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
  padding-bottom: 10px;
  position: relative;
}

.gallery-content {
  display: flex;
  overflow-x: auto;
  padding-bottom: 10px;
}

.gallery-content::-webkit-scrollbar {
  display: none; /* Скрыть полосу прокрутки */
}

.media-item {
  flex: 0 0 auto;
  position: relative;
  width: 200px;
  height: 300px;
  margin-right: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.media-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.media-item__cover_inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.media-item__cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  transition: opacity 0.3s;
}

.media-item__cover_darkened {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  border-radius: 10px;
  transition: opacity 0.3s;
}

.media-item:hover .media-item__cover_darkened {
  opacity: 1;
}

.media-item__info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  opacity: 0;
  transition: opacity 0.3s;
  color: white;
}

.media-item:hover .media-item__info {
  opacity: 1;
}

.media-item__title {
  font-size: 18px;
  font-weight: bold;
}

.media-item__category {
  font-size: 14px;
  margin-top: 5px;
}

.media-item__year {
  font-size: 14px;
  margin-top: 5px;
  padding: 2px 5px;
  border-radius: 5px;
}

/* Стили навигационных стрелок */
.navigation-button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.navigation-button.left {
  left: 10px;
}

.navigation-button.right {
  right: 10px;
}

.navigation-button:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* Popular Categories style */
.popular-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 100px 20px;
  gap: 20px;
}

/* Мобильные устройства (до 400px) */
@media (max-width: 400px) {
  .popular-categories {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
    gap: 10px;
  }
}
/* Мобильные устройства (до 600px) */
@media (max-width: 600px) {
  .popular-categories {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 10px;
    gap: 10px;
  }
}
/* Планшеты (до 768px) */
@media (max-width: 768px) {
  .popular-categories {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px 15px;
    gap: 15px;
  }
}
/* Малые десктопы (до 992px) */
@media (max-width: 992px) {
  .popular-categories {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 80px 20px;
    gap: 20px;
  }
}
.categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  flex: 2;
}

.category-card {
  text-decoration: none;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  height: 200px;
  position: relative;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.8);
}

.category-card:hover {
  transform: scale(1.05);
}

.info-section {
  flex: 1;
  padding-left: 30px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-section h2 {
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center;
  color: #FFC107;
}

.info-section p {
  margin-bottom: 20px;
  color: #c7c5c5;
  font-size: 1em;
  text-align: center;
}

/* Медиазапросы для заголовка и кнопки */
@media (max-width: 768px) {
  .info-section {
    order: 1;
    padding-left: 0;
    margin-top: 20px;
  }
}
.view-all-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FFD700;
  color: #000;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  text-align: center;
  margin-top: auto;
}

.view-all-btn:hover {
  background-color: #FFC107;
}

* {
  box-sizing: border-box;
}

.main {
  margin-bottom: 50px;
}

.cartoons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cartoon {
  width: 240px;
  margin: 10px;
  position: relative;
}

.cartoon__cover-inner {
  position: relative;
  height: 360px;
}

.cartoon-cover {
  width: 100%;
  height: 100%;
}

.cartoon-cover_darkened {
  background-color: black;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  height: 100%;
  z-index: 1;
}

.cartoon-cover_darkened:hover {
  background-color: grey;
  cursor: pointer;
}

.cartoon__info {
  padding: 10px 0;
}

.cartoon__title {
  font-size: 16px;
  font-weight: 600;
  color: #fab005;
}

.cartoon__category {
  font-size: 14px;
  color: #97aabd;
}

.cartoon__average {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a191f;
  color: #fff;
  font-size: 14px;
}

.cartoon__average_green {
  border: 2px solid green;
}

.cartoon__average_orange {
  border: 2px solid orange;
}

.cartoon__average_red {
  border: 2px solid red;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  transition: width 2s;
}

.modal-show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__card {
  background-color: #ffffff;
  max-width: 600px;
  padding: 16px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  background-color: #1a191f;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.modal__cartoon-backdrop {
  width: 200px;
  margin: 20px auto;
}

.modal__cartoon-info {
  margin-left: 20px;
}

.modal__cartoon-title {
  color: #fab005;
  text-align: center;
}

.modal__button-close {
  padding: 5px;
  margin: 10px;
  align-self: center;
}

.modal__button-close {
  background-color: #fab005;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.modal__button-close:hover {
  background-color: #45a049;
}

ul li {
  padding: 5px;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  height: 60px;
}

.header__logo {
  font-size: 28px;
  text-decoration: none;
  color: #fab005;
}

.header__search {
  padding: 8px;
  border: solid #1a191f;
  border-radius: 5px;
  outline: none;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie {
  width: 240px;
  margin: 10px;
  position: relative;
}

.movie__cover_inner {
  position: relative;
  height: 360px;
}

.movie__cover {
  max-width: 100%;
  height: 100%;
}

.movie__cover_darkened {
  background-color: #000000;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  height: 100%;
  z-index: 1;
}

.movie__cover_darkened:hover {
  background-color: grey;
  cursor: pointer;
}

.movie__info {
  padding: 10px 0px;
}

.movie__title {
  font-size: 16px;
  font-weight: 600;
  color: #fab005;
}

.movie__category {
  font-size: 14px;
  color: #97aabd;
}

.movie__year {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 0;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #1a191f; */
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.movie__year_green {
  /* border: 1px solid green; */
  background-color: #2bb12b;
}

.movie__year_orange {
  /* border: 1px solid orange; */
  background-color: #e49657;
}

.movie__year_red {
  /*  border: 1px solid red; */
  background-color: #f35053;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  transition: width 2s;
}

.modal__card {
  background-color: #1a191f;
  color: #ffffff;
  max-width: 600px;
  padding: 16px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

.modal__movie-backdrop {
  width: 200px;
  margin: 0 auto;
}

.modal__movie-info {
  margin-left: 20px;
}

.modal__movie-title {
  color: #fab005;
  display: flex;
  justify-content: center;
}

.modal__button-close {
  background-color: #fab005;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.modal__button-close:hover {
  background-color: #45a049;
}

.modal__movie-site {
  color: #ffd80e;
}

ul li {
  padding: 5px;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.modal__show {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Применение лодера*/
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loader {
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes color-change {
  0% {
    border-top-color: #3498db;
  }
  50% {
    border-top-color: #e74c3c;
  }
  100% {
    border-top-color: #3498db;
  }
}
/*Сообщение об ошибке*/
.error-message {
  display: none;
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}/*# sourceMappingURL=main.css.map */