@charset "UTF-8";
/* Footer style */
.footer {
  background-color: #333;
  color: white;
  padding: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1;
  margin: 10px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer ul li a:hover {
  color: #fab005;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding-top: 20px;
  border-top: 1px solid #444;
  text-align: center;
}

.footer-logo-text {
  display: flex;
  align-items: center;
}

.footer-logo {
  width: 50px;
  height: auto;
  margin-right: 10px;
}

.footer-company-name {
  font-size: 1.5em;
  font-weight: bold;
}

.footer-rights {
  margin-left: auto;
}

.social-icons {
  display: flex;
  gap: 10px;
  margin-left: 20px;
}

/* Медиазапросы */
@media (max-width: 600px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  .footer-column {
    margin: 10px 0;
    text-align: center;
  }
  .footer-bottom {
    flex-direction: column;
    justify-content: center;
  }
  .footer-rights {
    margin: 10px 0;
  }
  .footer-logo {
    width: 40px;
  }
  .footer-company-name {
    font-size: 1.2em;
  }
}
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
  .footer-column {
    margin: 10px 0;
    text-align: center;
  }
  .footer-bottom {
    flex-direction: column;
    justify-content: center;
  }
  .footer-rights {
    margin: 10px 0;
  }
  .footer-logo {
    width: 45px;
  }
  .footer-company-name {
    font-size: 1.3em;
  }
}
@media (max-width: 992px) {
  .footer-rights {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .footer-logo {
    width: 60px;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.navbar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 20px;
}
.navbar ul li {
  display: inline;
}
.navbar ul li a {
  text-decoration: none;
  color: #fab005;
  font-weight: 600;
}

.logo-container {
  display: flex;
  align-items: center;
}

.header-logo {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  color: #fab005;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
}

#searchInput {
  display: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 200px;
  width: 0;
  transition: width 0.3s ease, display 0.3s ease;
}

#searchButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#searchButton svg {
  fill: #000;
  width: 18px;
  height: 18px;
}

#closeButton {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px;
  font-size: 18px;
  color: #FFD700;
}

.search-container.active #searchInput {
  display: block;
  width: 200px;
}

.search-container.active #closeButton {
  display: block;
}

.search-container.active #searchButton {
  display: none;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.main-content .text-section {
  max-width: 50%;
}
.main-content .text-section .metadata {
  display: flex;
  gap: 10px;
  color: #aaa;
}
.main-content .text-section h1 {
  font-size: 48px;
  font-weight: 800;
  margin: 0;
}
.main-content .text-section p {
  margin: 20px 0;
  color: #555;
}
.main-content .text-section .watch-btn {
  padding: 10px 20px;
  background-color: #ffdd57;
  color: #000;
  text-decoration: none;
  font-weight: 600;
  border-radius: 5px;
}
.main-content .image-section {
  max-width: 40%;
}
.main-content .image-section img {
  width: 100%;
  border-radius: 10px;
}

.popular-movies {
  padding: 20px;
}

.popular-movies h2,
.trending-shows h2,
.popular-cartoons h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #FFC107;
}

.movie-gallery,
.tvshow-gallery,
.cartoon-gallery {
  display: flex;
  gap: 15px;
  overflow-x: scroll;
  scrollbar-width: none;
}

.movie-gallery::-webkit-scrollbar,
.tvshow-gallery::-webkit-scrollbar,
.cartoon-gallery::-webkit-scrollbar {
  display: none; /* Для Chrome, Safari и Opera */
}

.movie-card,
.tvshow-card,
.cartoon-card,
.gallery-item {
  min-width: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #f0f0f0;
}

.movie-card:hover,
.tvshow-card:hover,
.cartoon-card:hover,
.gallery-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.movie-card img,
.tvshow-card img,
.cartoon-card img,
.gallery-item img {
  width: 100%;
  height: auto;
  display: block;
}

.movie-card .movie-info,
.tvshow-card .tvshow-info,
.cartoon-card .cartoon-info,
.gallery-item h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 1.1em;
}

.gallery-item {
  width: calc(25% - 15px);
}

/* Popular Categories style */
.popular-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 100px 20px;
  gap: 20px;
  /* Мобильные устройства (до 400px) */
  /* Мобильные устройства (до 600px) */
  /* Планшеты (до 768px) */
  /* Малые десктопы (до 992px) */
}
@media (max-width: 400px) {
  .popular-categories {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 10px;
    gap: 10px;
  }
}
@media (max-width: 600px) {
  .popular-categories {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 10px;
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .popular-categories {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px 15px;
    gap: 15px;
  }
}
@media (max-width: 992px) {
  .popular-categories {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 80px 20px;
    gap: 20px;
  }
}

.categories {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  flex: 2;
}

.category-card {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  height: 200px;
  position: relative;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.8);
}
.category-card:hover {
  transform: scale(1.05);
}

.info-section {
  flex: 1;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* Медиазапросы для заголовка и кнопки */
}
@media (max-width: 768px) {
  .info-section {
    order: 1;
    padding-left: 0;
    margin-top: 20px;
  }
}

.info-section h2 {
  font-size: 2em;
  margin-bottom: 10px;
  text-align: center;
  color: #FFC107;
}

.info-section p {
  margin-bottom: 20px;
  color: #666;
  font-size: 1em;
  text-align: center;
}

.view-all-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FFD700;
  color: #000;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  text-align: center;
  margin-top: auto;
}

.view-all-btn:hover {
  background-color: #FFC107;
}

* {
  box-sizing: border-box;
}

.main {
  margin-bottom: 50px;
}

.cartoons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cartoon {
  width: 240px;
  margin: 10px;
  position: relative;
}

.cartoon__cover-inner {
  position: relative;
  height: 360px;
}

.cartoon-cover {
  width: 100%;
  height: 100%;
}

.cartoon-cover_darkened {
  background-color: black;
  opacity: 0.2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  height: 100%;
  z-index: 1;
}

.cartoon-cover_darkened:hover {
  background-color: grey;
  cursor: pointer;
}

.cartoon__info {
  padding: 10px 0;
}

.cartoon__title {
  font-size: 16px;
  color: #000;
}

.cartoon__category {
  font-size: 14px;
  color: #f74610;
}

.cartoon__average {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a191f;
  color: #fff;
  font-size: 14px;
}

.cartoon__average_green {
  border: 2px solid green;
}

.cartoon__average_orange {
  border: 2px solid orange;
}

.cartoon__average_red {
  border: 2px solid red;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  transition: width 2s;
}

.modal-show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__card {
  background-color: #ffffff;
  max-width: 600px;
  padding: 16px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  background-color: #1a191f;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.modal__cartoon-backdrop {
  width: 200px;
  margin: 20px auto;
}

.modal__cartoon-info {
  margin-left: 20px;
}

.modal__cartoon-title {
  color: #ffd80e;
  text-align: center;
}

.modal__button-close {
  padding: 5px;
  margin: 10px;
  align-self: center;
}

ul li {
  padding: 5px;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #1a191f;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  height: 60px;
}

.header__logo {
  font-size: 32px;
  text-decoration: none;
  color: white;
}

.header__search {
  padding: 8px;
  border: solid #1a191f;
  border-radius: 5px;
  outline: none;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie {
  width: 240px;
  margin: 10px;
  position: relative;
}

.movie__cover_inner {
  position: relative;
  height: 360px;
}

.movie__cover {
  max-width: 100%;
  height: 100%;
}

.movie__cover_darkened {
  background-color: #000000;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  height: 100%;
  z-index: 1;
}

.movie__cover_darkened:hover {
  background-color: grey;
  cursor: pointer;
}

.movie__info {
  padding: 10px 0px;
}

.movie__title {
  font-size: 16px;
  color: white;
}

.movie__category {
  font-size: 14px;
  color: #ffd80e;
}

.movie__year {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 0;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a191f;
  color: white;
  font-size: 14px;
}

.movie__year_green {
  border: 1px solid green;
}

.movie__year_orange {
  border: 1px solid orange;
}

.movie__year_red {
  border: 1px solid red;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  transition: width 2s;
}

.modal__card {
  background-color: #ffffff;
  max-width: 600px;
  padding: 16px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  background-color: #1a191f;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.modal__movie-backdrop {
  width: 200px;
  margin: 0 auto;
}

.modal__movie-info {
  margin-left: 20px;
}

.modal__button-close {
  padding: 5px;
  margin: 10px;
  align-self: center;
}

.modal__movie-site {
  color: #ffd80e;
}

ul li {
  padding: 5px;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.modal__show {
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=main.css.map */