@charset "UTF-8";
* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  height: 60px;
}

.header__logo {
  font-size: 28px;
  text-decoration: none;
  color: #fab005;
}

.header__search {
  padding: 8px;
  border: solid #1a191f;
  border-radius: 5px;
  outline: none;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie {
  width: 240px;
  margin: 10px;
  position: relative;
}

.movie__cover_inner {
  position: relative;
  height: 360px;
}

.movie__cover {
  max-width: 100%;
  height: 100%;
}

.movie__cover_darkened {
  background-color: #000000;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  height: 100%;
  z-index: 1;
}

.movie__cover_darkened:hover {
  background-color: grey;
  cursor: pointer;
}

.movie__info {
  padding: 10px 0px;
}

.movie__title {
  font-size: 16px;
  font-weight: 600;
  color: #fab005;
}

.movie__category {
  font-size: 14px;
  color: #97aabd;
}

.movie__year {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 0;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #1a191f; */
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.movie__year_green {
  /* border: 1px solid green; */
  background-color: #2bb12b;
}

.movie__year_orange {
  /* border: 1px solid orange; */
  background-color: #e49657;
}

.movie__year_red {
  /*  border: 1px solid red; */
  background-color: #f35053;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  transition: width 2s;
}

.modal__card {
  background-color: #1a191f;
  color: #ffffff;
  max-width: 600px;
  padding: 16px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

.modal__movie-backdrop {
  width: 200px;
  margin: 0 auto;
}

.modal__movie-info {
  margin-left: 20px;
}

.modal__movie-title {
  color: #fab005;
  display: flex;
  justify-content: center;
}

.modal__button-close {
  background-color: #fab005;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.modal__button-close:hover {
  background-color: #45a049;
}

.modal__movie-site {
  color: #ffd80e;
}

ul li {
  padding: 5px;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.modal__show {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Применение лодера*/
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loader {
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes color-change {
  0% {
    border-top-color: #3498db;
  }
  50% {
    border-top-color: #e74c3c;
  }
  100% {
    border-top-color: #3498db;
  }
}
/*Сообщение об ошибке*/
.error-message {
  display: none;
  color: red;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}/*# sourceMappingURL=series.css.map */