* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  height: 60px;
}
.header__logo {
  font-size: 32px;
  text-decoration: none;
  /* color: white; */
  color: #000000;
}
.header__search {
  padding: 8px;
  border: solid #1a191f;
  border-radius: 5px;
  outline: none;
}
.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.movie {
  width: 240px;
  margin: 10px;
  position: relative;
}
.movie__cover_inner {
  position: relative;
  height: 360px;
}
.movie__cover {
  max-width: 100%;
  height: 100%;
}
.movie__cover_darkened {
  background-color: #000000;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  height: 100%;
  z-index: 1;
}
.movie__cover_darkened:hover {
  background-color: grey;
  cursor: pointer;
}
.movie__info {
  padding: 10px 0px;
}
.movie__title {
  font-size: 16px;
  /* color: white; */
  color: #2e1114;
}
.movie__category {
  font-size: 14px;
  /* color: #ffd80e; */
  color: #97aabd;
}
.movie__year {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 0;
  border-radius: 50%;
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #1a191f; */

  color: white;
  font-size: 14px;
}
.movie__year_green {
  /* border: 1px solid green; */
  background-color: #802bb1;
}
.movie__year_orange {
  /* border: 1px solid orange; */
  background-color: #edb5bf;
}
.movie__year_red {
  /*  border: 1px solid red; */
  background-color: #f3d250;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  transition: width 2s;
}
.modal__card {
  background-color: #ffffff;
  max-width: 600px;
  padding: 16px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
  /* background-color: #1a191f; 
  color: #ffffff; */
  display: flex;
  flex-direction: column;
}
.modal__movie-backdrop {
  width: 200px;
  margin: 0 auto;
}
.modal__movie-info {
  margin-left: 20px;
}
.modal__movie-title {
  color: #2e1114;
}
.modal__button-close {
  padding: 5px;
  margin: 10px;
  align-self: center;
  background-color: #f3e0dc;
}

.modal__movie-site {
  color: #ffd80e;
}

ul li {
  padding: 5px;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}
.modal__show {
  display: flex;
  justify-content: center;
  align-items: center;
}
